.friendCard-section{
    width: 100%;
    padding: 0 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
}

.friendCard{
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #c5c5c5; */
    border-radius: 10px;
    /* min-width: 400px; */
    /* width: 40%; */
    display: flex;
    flex-flow: row nowrap;
}
.img-section{
    width: 40%;
    height: 150px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 10px;
}

.img-section img{
    width: 100%;
}

.text-section{
    width: 60%;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.text-section p {
    color: #c5c5c5;
}

.text-section .btn-add {
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #f5f5f5;
    background-color: #0d45fd;
    border: 0;
    border-radius: 5px;
}
@media (max-width:555px){
    .friendCard-section{
        padding: 0 5px;
    }
    .friendCard-section{
        grid-template-columns: 100%;
    }
    .text-section .btn-add {
        margin-top: 5px;
        font-size: 10px;
        padding: 5px 10px;
    }
}