.App-nav{
    height: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .App-nav h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .search-section{
    background-color: #35373d;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 50px;
    width: 280px;
    height: 50px;
    margin: 0 auto;
  }
  .search-section img{
    height: 30px;
    margin-right: 10px;
  }
  .search-section input[type="search"] {
    height: 40px;
    width: 75%;
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 1.3rem;
  }
  .search-section input[type="search"]:focus{
    outline: none;
  }

@media (max-width: 830px){
    .search-section{
        margin: 0;
    }   
}

@media (max-width: 555px){
  .App-nav{
    flex-direction: column;
    height: auto; 
  }
  .App-nav h2 {
      align-self: flex-start;
      margin-bottom: 10px;
  }   
  .search-section{
    width: 90%;
} 
}

