.App{
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #282c34;
  width: 820px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 830px){
  .App{
    width: 95%;
  }
}